/* line 3, /Users/qingyang/project/chatlog-ghpages/source/stylesheets/all.css.scss */
body {
  font: 16px 'Helvetica Neue', Helvetica, Arial;
  background: #eaeaea; }

/* line 8, /Users/qingyang/project/chatlog-ghpages/source/stylesheets/all.css.scss */
header {
  padding: 0 30px;
  text-shadow: -1px -1px rgba(0, 0, 0, 0.2);
  color: rgba(255, 255, 255, 0.3);
  font-weight: bold;
  font-size: 20px; }

/* line 16, /Users/qingyang/project/chatlog-ghpages/source/stylesheets/all.css.scss */
.setting {
  padding: 5px 16px; }

/* line 20, /Users/qingyang/project/chatlog-ghpages/source/stylesheets/all.css.scss */
.left-col, .right-col {
  display: inline-block;
  width: 48%;
  box-sizing: border-box;
  padding: 10px;
  vertical-align: top; }

/* line 29, /Users/qingyang/project/chatlog-ghpages/source/stylesheets/all.css.scss */
.chatlog-input-wrapper .chatlog-input {
  border: none;
  box-sizing: border-box;
  width: 100%;
  padding: 16px;
  box-shadow: none; }
