---
title: Welcome to Middleman
---

<header>
  <h1>快速匿名您的聊天记录</h1>
</header>

<div class="main">
  <div class="left-col">
    <div class="chatlog-input-wrapper">
      <textarea class="chatlog-input" name="" cols="30" rows="10">
        杨青  23:36:35
        还想请教下本来~ 哈哈哈
        卡比侠 中传媒  23:36:57
        不了解呢~~~~~ 哈哈
        杨青  23:37:05
        恩恩~
      </textarea>
    </div>
  </div>
  <div class="right-col">
    <div class="anonymous-chatlog">
    </div>
  </div>
</div>