---
title: Welcome to Middleman
---

<header>
  <h1>快速匿名您的聊天记录</h1>
</header>

<div class="setting">
  <form>
    <label>
      <input type="checkbox" name="anonymous" checked>
      是否开启匿名模式
    </label>
  </form>
</div>

<div class="main">
  <div class="left-col">
    <div class="chatlog-input-wrapper">
      <textarea class="chatlog-input" name="" cols="30" rows="10">
        雨忆  10:21:18
        这是你前同事么~这是你前同事么~
        歪丫  21:20:44
        对 是家园的
      </textarea>
    </div>
  </div>
  <div class="right-col">
    <div class="anonymous-chatlog">
    </div>
  </div>
</div>